html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Top section */

.top {
    background: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 18px 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    display: flex;
    font-size: 18px;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.hero-left {
    width: 48%;
}

.hero-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;

}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-weight: 800;
    margin-top: 16px;
    border-radius: 6px;
    font-size: 14px;
}

.hero-right {
    display: flex;
    width: 48%;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

/* Content section */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}

.content-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;    
}

.pictures {
    display: flex;
    gap: 50px;
}

.picture {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.photo {
    border: 5px solid #3882f6;
    height: 180px;
    width: 180px;
    border-radius: 10%;
}

.info {
    text-align: center;
}

/* Quote section */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column ;
    padding: 100px 20%;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-style: oblique;
    font-weight: 800;
    font-size: 20px;
    align-self: flex-end;
}

/* Banner section */

.bottom {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 420px;
}

.bottom-banner {
    background-color: #3882f6;
    width: 80%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding: 0 10%;
    align-items: center;
}

.banner-header {
    font-size: 20px;
    font-weight: 800;
    color: #f9faf8;
}

.banner-text {
    color: #f9faf8;
}

.banner-button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-weight: 800;
    margin-top: 16px;
    border-radius: 6px;
    font-size: 14px;
}

/* Footer section */

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 45px;
}